* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box {
    height: 300px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 5px solid black;
    border-radius: 10px;
}
.count {
    font-size: 80px;
}
.btn-box1 {
    display: flex;
    gap: 30px;
}
.btn {
    padding: 10px 50px;
    background-color: bisque;
    font-size: x-large;
    border-radius: 3px;
}

.btn-red {
    padding: 10px 50px;
    background-color: rgba(225, 9, 9, 0.756);
    color: bisque;
    font-size: x-large;
    border-radius: 3px;
}